<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.edu.zum.easyapp"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 统计权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--         <uses-permission android:name="android.permission.INTERNET"/> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"/>
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS"/>-->
    <application
        android:name=".global.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="label,allowBackup"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

                <!--下面所设置的质需要和html端对调-->
                <!--在data里设置了 scheme和host，则该Activity可以接收和处理类似于 "sharetest://data/XXX"的链接-->
                <data
                    android:host="data"
                    android:scheme="sharetest" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ContainerActivity"
            android:label="@string/title_activity_change_fragment"
            android:theme="@style/AppTheme">
        </activity>


        <!--环信客服-->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="123lwh#easyapp"/>

        <activity android:name="easemob.helpdeskdemo.ui.LoginActivity"/>
        <activity android:name="easemob.helpdeskdemo.ui.ChatActivity"/>
        <activity android:name="easemob.helpdeskdemo.ui.ContextMenuActivity"/>
        <activity android:name="easemob.helpdeskdemo.ui.SatisfactionActivity"/>
        <activity android:name="easemob.helpdeskdemo.ui.ShopDetailsActivity"/>
        <activity android:name="com.easemob.easeui.ui.EaseBaiduMapActivity"/>
        <activity android:name="com.easemob.easeui.ui.EaseBaseActivity"/>
        <activity android:name="easemob.helpdeskdemo.ui.ShortCutMsgActivity"/>
        <!-- 统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5786eb0167e58e8e36004826"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="wandoujia"/>
        <!--友盟推送-->
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="6dc13356902913ec96f2e79e93536af5">
        </meta-data>

    </application>

</manifest>